/**
 * constants
 */
$highlight-blue:  #0074a2;
$active-gray: gray;
$inactive-gray: lighten($active-gray, 20);
$background-gray: #222;
$error: #dd3d36;

/**
 * styles
 */
.ph-postqueue{
	*,*:before,*:after{
		box-sizing: border-box;
	}
	/**
	 * postqueues widget
	 */
	.ph-postqueues-widget{
		margin-top: 10px;
		.ph-postqueue-name{
			padding: 3px 8px;
			font-size: 1.7em;
			line-height: 100%;
			height: 1.7em;
			width: 100%;
			outline: 0;
			margin: 0;
		}
		.ph-new-queue{
			height: 50px;
			background-color: $highlight-blue;
			transition: all 0.3s;
			padding: 0 15px;
			color: white;
			font-size: 1.2rem;
			overflow: hidden;
			&:not(.ph-loading):hover{
				background-color: lighten($highlight-blue, 5);
				cursor: pointer;
			}
			&.ph-loading{
				background-color: $inactive-gray;
			}
			&.ph-error{
				background-color: $error;
			}
		}
		.queues-list{
			margin: 0;
			.queue{
				padding: 15px 0;
				& + .queue{
					border-top: 1px solid $inactive-gray;
				}
				.queue-name{
					font-weight: bold;
					font-size: 1.2rem;
					margin-bottom: 4px;
				}
				.queue-controls{
					a{
						display: inline-block;
						margin: 0 4px;
					}
				}
			}

		}
		.delete-control{
			button{
				margin-right: 5px;
			}
			button.button-delete {
				color: #a00;
				border-color: #a00;
			}
		}
	}
	/**
	 * the post queue
	 */
	.ph-the-queue-wrapper{
		display: none;
	}
	.the-queue{
		position: relative;
		list-style: none;
		padding: 0;
		margin: 20px 0;
		counter-reset: posts;
		min-height: 100px;
		// &:before{
		// 	content: "";
		// 	position: absolute;
		// 	top: 25px;
		// 	bottom: 25px;
		// 	left: 10px;
		// 	width: 2px;
		// 	border-radius: 1px;
		// 	background-color: $inactive-gray;
		// }
		.queue-item{
			position: relative;
			margin: 0;
			padding: 16px 35px 10px;
			counter-increment: posts;
			font-weight: bold;
			min-height: 50px;
			&:first-child:before{
				top: 50%;
			}
			&:last-child:before{
				bottom: 50%;
			}
			&.is-dragging {
				opacity: 0.5;
			}
			&:after{
				content: "";
				position: absolute;
				top: 50%;
				left: 6px;
				width: 10px;
				height: 10px;
				margin-top: -6px;
				border-radius: 50px;
				background-color: $inactive-gray;
				transition: all 0.3s;
				z-index: 2;
			}
			& + .queue-item {
				border-top: 1px solid $inactive-gray;
			}
			.delete-post{
				position: absolute;
				right: 8px;
				top: 14px;
				bottom: 11px;
				width: 60px;
				background-color: $error;
				color: white;
				padding: 3px;
				cursor: pointer;
				opacity: 0;
				transition: all 0.3s;
				border-radius: 2px;
				text-align: center;
				&:hover{
					opacity: 1;
				}
			}
		}
		/**
		 * saved item
		 */
		.queue-item-set{
			transition: all 0.3s;
			.drag-handle{
				position: absolute;
				top: 0;
				left: -10px;
				bottom: 0;
				width: 40px;
				cursor: move;
				z-index: 20;
			}
			&:before{
				content: "";
				position: absolute;
				top: -1px;
				left: 10px;
				bottom: 0px;
				width: 2px;
				background-color: $active-gray;
			}
			&:after{
				content: counter(posts);
				position: absolute;
				top: 50%;
				left: -2px;
				margin-top: -12px;
				width: 26px;
				height: 26px;
				border: 2px solid $active-gray;
				background-color: white;
				font-weight: bold;
				text-align: center;
				padding: 0;
				padding-top: 1px;
			}
			&:hover{
				&:after{
					color: white;
					background: $highlight-blue;
					border-color: $highlight-blue;
				}
			}
		}
		&:not(.prevent-add-post) .queue-item-set{
			&:hover .add-post{
				display: block;
			}
			&:hover .delete-post{
				opacity: 0.7;
			}
		}
		/**
		 * new queue item
		 */
		.queue-item-new{
			padding-top: 10px;
			&:before{
				content: "";
				position: absolute;
				top: -1px;
				left: 10px;
				bottom: 0px;
				width: 2px;
				background-color: darken($highlight-blue,10);
			}
			&:after{
				background-color: darken($highlight-blue, 10);
			}
		}
		
	}
	/**
	 * new post widget
	 */
	.new-post-widget{
		background: $highlight-blue;
		.post-suggestions{
			background-color: white;
			.post-suggestion{
				padding: 15px;
				& + .post-suggestion{
					border-top: 1px solid $inactive-gray;
				}
			}
		}
	}
	
}

.post-queue-editor__controls{
	display: flex;
	height: 40px;

	button.queue-control-button {
		margin-right: 10px;
	}
	input {
		height: 100%;
		width: 100%;
	}
	.post-queue__search{
		position: relative;
		width: 200px;
		@media only screen and (min-width: 550px) {
			width: 250px;
		}
		@media only screen and (min-width: 700px) {
			width: 400px;
		}
		.spinner{
			position: absolute;
			right: 0;
			top: 6px;
		}
		.clear-query{
			position: absolute;
			right: 6px;
			top: 8px;
			background: #999;
			color: white;
			border-radius: 40px;
			width: 25px;
			height: 25px;
			padding: 3px;
			text-align: center;
			font-weight: bold;
			&:hover {
				cursor: pointer;
				background: #666;
			}
		}
	}
	.post-queue__search--suggestions {
		position: absolute;
		top:40px;
		background: white;
		z-index: 1;
		ul{
			margin: 0;
		}
		li{
			padding: 8px;
			border: 1px solid #666;
			border-bottom: none;
			margin: 0;
			min-width: 300px;
			cursor: pointer;
			&:hover{
				color: #2271b1;
				background-color: rgb(246, 247, 247);
			}
		}
		li:last-child{
			border-bottom: 1px solid #666;
		}
	}
}